* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: pink;
}

.container {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 238, 238);
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 10px;

  & .image {
    width: 50%;
    

    & img {
      width: 250px;
      height: 500px;
      border-radius: 10px;
      box-shadow:2px 0px 5px gray;
    }
  }

  & .details {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;

    & p {
      color:gray;
      margin:20px 0px;
      line-height:25px;
    }

    & p:nth-child(1){
      margin-top:-20px;
    } 

    & h2{
      font-size:25px;
      line-height:40px;
    }

    & .price{
      display:flex;
      align-items:top;
      justify-content:left;

      & h3{
        font-size:35px;
        color:rgb(39, 108, 39);
      }

      & span{
        margin-left: 10px;
      }
    }

    & button{
      color:white;
      margin-top:10px;
      padding:10px 0px;
      border:none;
      outline:none;
      border-radius:10px;
      background-color:rgb(39, 108, 39);
    }
  }
}
